<div class="bg-dark mt-md-5 container-fluid">
    <div class="container">
        <div class="row no-gutters">
            <div class="col d-flex align-items-center d-flex justify-content-center">
                <div class="bg-dark mr md-5 d-flex align-items-center d-flex justify-content-center">
                    <blockquote class="blockquote text-white">
                        <h4>NotaBene</h4>
                        <p class="mb-3 text-white text-center">
                            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.
                        </p>
                        </h6>
                </div>
            </div>
            <div class="col col mt-md-5 d-flex align-items-center d-flex justify-content-center">
                <div class="bg-dark mr md-5 d-flex align-items-center d-flex justify-content-center">
                    <blockquote class="blockquote text-center text-white">
                        <h4>Products</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="col col mt-md-5 d-flex align-items-center d-flex justify-content-center">
                <div class="bg-dark mr md-5 d-flex align-items-center d-flex justify-content-center">
                    <blockquote class="blockquote text-center text-white">
                        <h4>useful links</h4>
                        <table class="table table-borderless">
                            <tbody>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <h6>Lorem ipsum</h6>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
            <div class="col mt-md-5 d-flex align-items-center d-flex justify-content-center">
                <div class="bg-dark mr md-5 d-flex align-items-center d-flex justify-content-center">
                    <blockquote class="blockquote text-center text-white">
                        <h4>contact</h4>
                        <table class="table table-borderless text-center">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <i class="fas fa-home mt-1 mr-2"></i>
                                            <div class="media-body">
                                                Lorem ipsum
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <i class="far fa-envelope mt-1 mr-2"></i>
                                            <div class="media-body">
                                                Lorem ipsum
                                            </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="media">
                                            <i class="fas fa-phone mt-1 mr-2"></i>
                                            <div class="media-body">
                                                Lorem ipsum
                                            </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                         <div class="media">
                                            <i class="fas fa-mobile mt-1 mr-2"></i>
                                            <div class="media-body">
                                                Lorem ipsum
                                            </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                </div>
            </div>
        </div>
    </div>
</div>